<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--[if lte IE 9]><meta http-equiv="refresh" content="0;url=/ie.html"><![endif]-->

    <title>{{ page.title }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <aside id="sidebar">
      <nav id="tags">
        <a href="/index.html" id="avatar"></a>

        <ul id="tags__ul" >
          <li id="js-label1" class="tags__li tags-btn active">All Posts</li>
          <li id="js-label2" class="tags__li tags-btn">Embedded</li>
          <li id="js-label3" class="tags__li tags-btn">Algorithm</li>
          <li id="js-label4" class="tags__li tags-btn">Linux</li>
          <li id="js-label5" class="tags__li tags-btn">Network</li>
          <li id="js-label6" class="tags__li tags-btn">Android</li>
          <li id="js-label7" class="tags__li tags-btn">RTOS</li>
          <li id="js-label8" class="tags__li tags-btn">My Life</li>
          <li id="js-label9" class="tags__li tags-btn">Other</li>
        </ul>

        <div id="tags__bottom">
          <a href="mailto:imxubing@gmail.com" id="icon-email" class="tags-btn fontello"></a>
          <!--<a href="/rss.xml" id="icon-feed" class="tags-btn fontello"></a>-->
        </div>
      </nav> <!-- end #tags -->

      <div id="posts-list">
        <form action="" id="search-form">
          <a href="/index.html" id="mobile-avatar"></a>
          <!-- NOTE: input field is disabled by default -->
          <input id="search-input" type="text" placeholder="Search..." disabled >
        </form>

        <nav id="pl__container">
		 {% String temp="1" %}
		 {% for post in site.posts %}
		 {% temp="123" %}
		 <a class="pl__time_total">
		 <!--<strong >{{ post.date | date: "%b %Y" }}</strong>-->
		 <strong >{{ temp }}</strong>
		 </a>
          <a class="{{ post.categories }} pl__all" href="{{ post.url }}"><span class="pl__circle"></span><span class="pl__title">{{ post.title }}</span><strong class="pl__date">{{ post.categories }}</strong></a>
		{% endfor %}
        </nav>
      </div> <!-- end #posts-list -->
    </aside> <!-- end #sidebar -->

    <div id="post">
      <div id="pjax">
        {{ content }}
      </div> <!-- end #pjax -->

      <div id="post__toc-trigger">
        <div id="post__toc">
          <span id="post__toc-title">Table of Contents</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div> <!-- end #post -->

    <button id="js-fullscreen"><span id="icon-arrow" class="fontello"></span></button>

    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery.pjax.js"></script>
    <script src="/assets/js/nprogress.js"></script>
    <script src="/assets/js/script.js"></script>
   <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd0bee4b588a6732505f743a27e4cb5e3' type='text/javascript'%3E%3C/script%3E"));
</script>

  </body>
</html>
